/*-----------------------------fonts*/
@font-face {
    font-family: eicons;
    src: url(../fonts/eicons.woff2);
}

@font-face {
    font-family: fa-brands-400;
    src: url(../fonts/fa-brands-400.woff2);
}

@font-face {
    font-family: fa-light-300;
    src: url(../fonts/fa-light-300.woff2);
}

@font-face {
    font-family: fa-regular-400;
    src: url(../fonts/fa-regular-400.woff2);
}

@font-face {
    font-family: fa-solid-900;
    src: url(../fonts/fa-solid-900.woff2);
}

@font-face {
    font-family: yekan-bakh-regular;
    src: url(../fonts/Yekan-Bakh-Fa-En-04-Regular.woff);
}

@font-face {
    font-family: yekan-bakh-medium;
    src: url(../fonts/Yekan-Bakh-Fa-En-05-Medium.woff);
}

@font-face {
    font-family: yekan-bakh-bold;
    src: url(../fonts/Yekan-Bakh-Fa-En-06-Bold.woff);
}

@font-face {
    font-family: yekan-bakh-heavy;
    src: url(../fonts/Yekan-Bakh-Fa-En-07-Heavy.woff);
}

@font-face {
    font-family: yekan-bakh-fat;
    src: url(../fonts/Yekan-Bakh-Fa-En-08-Fat.woff);
}

/*-----------------------------fonts*/

body {
    background-color: #313540;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

input {
    border: none;
}

input:focus {
    outline: none;
}

button {
    border: none;
}

img {
    max-width: 100%;
}

textarea:focus-visible {
    outline: none !important;
    border: none !important;
    border-style: none;
    border-color: Transparent;
    overflow: auto;
}

::-webkit-scrollbar {
    width: 10px;
    border-radius: 200px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #474d5d00;
    border-radius: 200px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #2a2d36;
    border-radius: 200px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #474d5d;
}

.login-page-main-div {
    border-radius: 50px;
    background: #313540;
    box-shadow: 14px 14px 28px #2a2d36, -14px -14px 28px #383d4a;
    width: 400px;
    height: 360px;
    margin: 0 auto;
    margin-top: calc(50vh - 200px);
    font-family: yekan-bakh-regular;
    color: #fffffd;
}

.login-page-main-div .header {
    text-align: center;
    padding-top: 30px;
}

.login-page-main-div .header h4 {
    font-size: 25px;
    margin-bottom: 30px;
}

.login-page-main-div .header span {
    font-size: 16px;
}

.login-page-main-div .main-form input {
    border-radius: 3px;
    background: #313540;
    box-shadow: inset 5px 5px 9px #2a2d36, inset -5px -5px 9px #383d4a;
    font-size: 17px;
    color: #fffffd;
    display: block;
    margin: 0 auto;
    width: 80%;
    margin-top: 20px;
    direction: rtl;
    padding: 5px 10px;
    font-family: yekan-bakh-regular;
}

.login-page-main-div .main-form button {
    border-radius: 0px;
    background: #313540;
    box-shadow: 4px 4px 8px #2a2d36, -4px -4px 8px #383d4a;
    width: 84%;
    color: #fffffd;
    font-family: yekan-bakh-regular;
    padding: 5px 10px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 16px;
}

.login-page-main-div .main-form button:active {
    border-radius: 0px;
    background: #313540;
    box-shadow: inset 4px 4px 8px #2a2d36, inset -4px -4px 8px #383d4a;
}

.login-page-main-div .main-form .wrong-password-alert {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: red;
    font-family: yekan-bakh-bold;
}

.login-page-main-div .main-form {
    height: 100px;
}

.set-16-left-margin {
    margin-left: 16px;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.container .main {
    font-family: yekan-bakh-regular;
    min-height: 700px;
    margin-top: 100px;
    border-radius: 25px;
    background: #313540;
    box-shadow: 11px 11px 22px #2a2d36, -11px -11px 22px #383d4a;
}

.container .main .header {
    color: #fffffd;
    padding: 30px;
    direction: rtl;
}

.container .main .header .header-texts {
    display: inline-block;
    width: 50%;
}

.container .main .header .add-new-ticket-btn {
    display: inline-block;
    text-align: left;
    width: 50%;
    float: left;
}

.container .main .add-new-ticket-btn button {
    font-family: yekan-bakh-regular;
    margin-left: 20px;
    font-size: 20px;
    border-radius: 205px;
    background: #313540;
    box-shadow: 9px 9px 17px #2a2d36, -9px -9px 17px #383d4a;
    color: #fffffd;
    padding: 10px 20px;
}

.container .main .add-new-ticket-btn button:active {
    border-radius: 205px;
    background: #313540;
    box-shadow: inset 9px 9px 17px #2a2d36, inset -9px -9px 17px #383d4a;
}

.container .main .form {
    padding: 30px;
}

.container .main .form .cancel-form button {
    font-family: yekan-bakh-regular;
    margin-left: 20px;
    font-size: 20px;
    border-radius: 205px;
    background: #313540;
    box-shadow: 9px 9px 17px #2a2d36, -9px -9px 17px #383d4a;
    color: #fffffd;
    padding: 10px 20px;
}

.container .main .form .cancel-form button:active {
    border-radius: 205px;
    background: #313540;
    box-shadow: inset 9px 9px 17px #2a2d36, inset -9px -9px 17px #383d4a;
}

.container .main .form .title {
    margin-top: 20px;
}

.container .main .form .title input {
    direction: rtl;
    font-family: yekan-bakh-regular;
    padding: 10px;
    padding-top: 15px;
    color: #fffffd;
    font-size: 20px;
    width: 99%;
    border-radius: 7px;
    background: #313540;
    box-shadow: inset 8px 8px 15px #2a2d36, inset -8px -8px 15px #383d4a;
}
.container .main .form .body {
    margin-top: 20px;
}
.container .main .form .body textarea {
    border-style: none;
    border-color: Transparent;
    overflow: auto;
    outline: none;
    background: #313540;
    box-shadow: inset 8px 8px 15px #2a2d36, inset -8px -8px 15px #383d4a;
    border-radius: 8px;
    font-family: yekan-bakh-regular;
    resize: none;
    color: #fffffd;
    direction: rtl;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 20px;
    max-width: 99%;
    min-width: 99%;
    min-height: 370px;
}

.container .main .form .submit-btn {
    text-align: center;
}

.container .main .form .submit-btn button {
    font-family: yekan-bakh-bold;
    color: #fffffd;
    border-radius: 12px;
    background: #313540;
    box-shadow: 10px 10px 19px #2a2d36, -10px -10px 19px #383d4a;
    width: 99%;
    padding: 10px;
    padding-top: 15px;
    font-size: 20px;
}

.container .main .form .submit-btn button:active {
    border-radius: 12px;
    background: #313540;
    box-shadow: inset 10px 10px 19px #2a2d36, inset -10px -10px 19px #383d4a;
}

.container .main .ticketsList {
    padding: 0 30px;
}

.container .main .ticketsList table {
    text-align: center;
    color: #fffffd;
    margin: 0 auto;
}

.container .main .ticketsList table tr {
    height: 50px;
}

.container .main .ticketsList table tr:first-child {
    color: #cfcfcc;
}

.container .main .ticketsList table td {
    border-radius: 12px;
}

.container .main .ticketsList table .item:hover {
    cursor: pointer;
    border-radius: 12px;
    background: #313540;
    box-shadow: 8px 8px 16px #2a2d36, -8px -8px 16px #383d4a;
}

.container .main .ticketsList table .item:active {
    border-radius: 12px;
    background: #313540;
    box-shadow: inset 8px 8px 16px #2a2d36, inset -8px -8px 16px #383d4a;
}

.container .main .ticketsList table th {
    width: 400px;

    padding: 10px 0;
}

.container .main .chat-page {
    padding: 30px;
}

.container .main .chat-page .exit-chat button {
    font-family: yekan-bakh-regular;
    margin-left: 20px;
    font-size: 20px;
    border-radius: 205px;
    background: #313540;
    box-shadow: 9px 9px 17px #2a2d36, -9px -9px 17px #383d4a;
    color: #fffffd;
    padding: 10px 20px;
}

.container .main .chat-page .chats-box {
    margin: 0 auto;
    background: #313540;
    margin-top: 25px;
    box-shadow: inset 8px 8px 15px #2a2d36, inset -8px -8px 15px #383d4a;
    border-radius: 8px;
    width: 95%;
    height: 500px;
    overflow-x: hidden;
    /* overflow: scroll; */
}

.container .main .chat-page .chats-box .main-message {
    padding: 30px;
}

.container .main .chat-page .chats-box .main-message .sender,
.container .main .chat-page .chats-box .main-message .giver {
    padding: 10px;
    color: white;
    display: inline-block;
    border-radius: 16px;
    background: #313540;
    box-shadow: 14px 14px 27px #2a2d36, -14px -14px 27px #383d4a;
    max-width: 40%;
    min-width: 20%;
}

.container .main .chat-page .chat-input {
    width: 95%;
    margin: 0 auto;
}

.container .main .chat-page .chat-input .chat-inp {
    margin-top: 20px;
    display: inline-block;
    width: 80%;
    text-align: center;
}

.container .main .chat-page .chat-input .chat-inp input {
    width: 97%;
    font-size: 20px;
    color: #fffffd;
    direction: rtl;
    font-family: yekan-bakh-regular;
    padding: 10px;
    border-radius: 8px;
    background: #313540;
    box-shadow: inset 7px 7px 13px #2a2d36, inset -7px -7px 13px #383d4a;
}

.container .main .chat-page .chat-input .send-btn {
    display: inline-block;
    width: 20%;
}

.container .main .chat-page .chat-input .send-btn button {
    width: 90%;
    font-family: yekan-bakh-regular;
    font-size: 20px;
    padding: 10px;
    border-radius: 33px;
    color: #fffffd;
    background: #313540;
    box-shadow: 7px 7px 13px #2a2d36, -7px -7px 13px #383d4a;
}

.container .main .chat-page .chat-input .send-btn button:active {
    border-radius: 33px;
    background: #313540;
    box-shadow: inset 7px 7px 13px #2a2d36, inset -7px -7px 13px #383d4a;
}

.container .main .chat-page .exit-chat button:active {
    border-radius: 205px;
    background: #313540;
    box-shadow: inset 9px 9px 17px #2a2d36, inset -9px -9px 17px #383d4a;
}

.zero-ticket {
    text-align: center;
}

.zero-ticket h2 {
    color: #fffffd;
}

.zero-ticket img {
    width: 50%;
}

.red-color {
    color: red;
}

.green-color {
    color: green;
}
